[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest = "*"
click = "7.1.2"
tinydb = "3.15.1"
six = "*"
mongo = "*"
pymongo = "*"
tasks = {path = "./ch2/tasks_proj"}
pytest-nice = {path = "./ch5/pytest-nice"}

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.8"
